.wrapper {
  width: 420px;
  height: max-content;
  background: white;
  border: 1px solid grey;
  color: azure;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px 30px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: black;
}

.wrapper h2 {
  font-size: 16px;
  text-align: center;
  color: black;
}

.input-box {
  position: relative;  
  margin-top: 20px;
  width: 420px;
  border-radius: 3px;
  background-color: black;
}

input {
  width: calc(100% - 40px);
  height: 100%;
  border: 1px solid black;
  outline: none;
  font-size: 13px;
  color: white;
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.deploy-btn {  
  display: inline-block;
  margin-top: 20px;
  border: none;
  width: 130px;
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 20px;
  background: black;
}
